/* css reset 적용 */
@import './styles.css';

/* 기본 스타일 적용 */
body {
  width: 100%;
  height: 100%;
}

h3 {
  font-size: xx-large;
  font-weight: bolder;
  margin: 20px;
}

h4 {
  font-size: x-large;
  font-weight: 600;
  margin: 20px;
}

a {
  color: black;
}

ul {
  list-style-type: circle;
  margin: 10px 30px;
  padding: 10px;
}

li {
  margin: 5px 0px;
}

p {
  margin: 20px;
}

hr {
  margin: 30px 20px;
}

/* 메인 페이지 디자인 적용 */
.page-title {
  margin: 30px 30px;
}
main {
  display: flex;
  margin: 0 30px;
}
section {
  width: 25%;
  height: 70%;
  margin-right: 20px;
  border-right: 1px solid black;
}

/* 개별 페이지 디자인 적용 */
/* 테이블 디자인 */
table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  margin-left: 30px;
}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 tbody th {
  width: 190px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.type09 td {
  width: 850px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

/* 인용문구 꾸미기 */
blockquote {
  border: 1px solid #036;
  border-left: 10px solid #036;
  margin: 20px;
  padding: 10px;
  font-style: italic;
}
