<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/styles_basic.css" />
    <title>07-텍스트 CSS</title>
    <script
      src="https://kit.fontawesome.com/a857091e38.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="../index.html" class="home-btn">
        <div>
          <span>
            <i class="fa-solid fa-angles-left"></i>
          </span>
          <span> HOME </span>
        </div>
      </a>
    </header>

    <h3>CSS RESET</h3>

    <hr />
    <footer>
      <div class="footer-design">
        <h3>END</h3>
        <a href="#" class="btn-gradient blue block">Previous</a>
        <a href="#" class="btn-gradient blue block">Next</a>
      </div>
    </footer>
  </body>
</html>
